body{
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    }

h1{
    color: darkgreen;
    }

h2{
    color: green;
    }

.legenda{
    font-size: 12px;
    text-align: left;
    color: darkslategrey;
    }

img{
    border-radius: 50px;
}

nav{
    background-color: #e2e8f0;
    width: 100%;
    position: absolute;
}

nav img{
    display: block;
    padding: 14px 16px;
    float: left;
}

nav a{
    color: black;
    float: right;
    padding: 28px;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav a:hover{
    background-color: lightblue;
    color: darkgreen;
}

main{
    padding: 100px;
}

footer{
    text-align: center;
    background-color: #e2e8f0;
    color:black;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    }

footer p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    }
